<!-- src/app/shared/breadcrumb/breadcrumb.component.html -->

<div class="breadcrumb-nav" aria-label="breadcrumb">
  <ol class="breadcrumb-list">

    <li class="breadcrumb-item">
      <a routerLink="/" class="breadcrumb-link">
        <!-- <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor">
          <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
        </svg> -->
        <span class="text-white">Home</span>
      </a>
    </li>

    <!-- Dynamic crumbs -->
    @for (crumb of breadcrumbs; track crumb.url; let last = $last) {
    <li class="breadcrumb-item">

      <!-- Arrow separator -->
      <span class="breadcrumb-separator">
        <!-- <svg width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6z"/>
          </svg> -->
      </span>

      <!-- Last item = not clickable -->
      @if (last) {
      <span class="breadcrumb-current text-white">{{ crumb.label }}</span>
      } @else {
      <a [routerLink]="crumb.url" class="breadcrumb-link text-white" style="pointer-events: none;">{{ crumb.label }}</a>
      }

    </li>
    }

  </ol>
</div>