<section class="other-banner">
    <div class="app_dev">
        <div class="container-fluid d-md-flex justify-content-between align-items-end">
            <div class="mb-4 col-lg-4">
                <app-breadcrumb></app-breadcrumb>
                <h2 class="mb-3 font fs-3">Automate Processes. <br> Accelerate Growth.</h2>
                <p>Transform manual operations into intelligent, automated workflows that improve efficiency, reduce
                    costs, and drive faster business outcomes.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container-fluid py-lg-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-3">
                    Automation That Drives <br> Real Business Efficiency
                </h2>
                <p class="mb-3">
                    We help organizations eliminate repetitive tasks, streamline operations, and unlock productivity
                    through smart automation solutions. By combining technology, data, and process intelligence, we
                    enable businesses to operate faster, smarter, and more efficiently.
                </p>

                <div class="mt-5">
                    <app-btn-primary label="Consult Our Experts"></app-btn-primary>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <img src="./Images/automation_section_1.webp" alt="" srcset="" />
            </div>
        </div>
    </div>
</section>

<section class="service py-5" style="background-color: #f6f6f6">
    <div class="container-fluid py-5">
        <h2 class="mb-5">Our Automation Capabilities</h2>

        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="mb-3 mb-3">
                    <img src="./Images/Automation_img_1.webp" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="mb-2 fs-4">IT Process Automation</h4>
                    <p>Automate repetitive and event-driven IT operations using Python-based RPA. Seamlessly integrate
                        monitoring systems, SIEM, servers, and networks for faster fault detection and response.</p>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="mb-3 mb-3">
                    <img src="./Images/Automation_img_2.webp" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="mb-2 fs-4">IT Risk & Security Services</h4>
                    <p>Strengthen your security posture with risk assessment, policy development, and compliance
                        frameworks like ISO 27001, NIST, COBIT, and ITIL.</p>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="mb-3 mb-3">
                    <img src="./Images/Automation_img_3.webp" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="mb-2 fs-5">Enterprise Application Development</h4>
                    <p>End-to-end application protection including security assessments, threat modeling, architecture
                        review, and secure SDLC practices.</p>
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="mb-3 mb-3">
                    <img src="./Images/Automation_img_4.webp" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="mb-2 fs-4">Mobile Security</h4>
                    <p>Secure mobile ecosystems with app assessments, BYOD strategies, device forensics, and enterprise
                        mobility management solutions.</p>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="mb-3 mb-3">
                    <img src="./Images/Automation_img_5.webp" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="mb-2 fs-4">Cloud Security</h4>
                    <p>Ensure secure cloud adoption with application assessments, compliance management, and
                        infrastructure security for scalable environments.</p>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="mb-3 mb-3">
                    <img src="./Images/Automation_img_6.webp" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="mb-2 fs-4">Infrastructure Security</h4>
                    <p>Protect IT infrastructure with network assessments, vulnerability testing, penetration testing,
                        and security architecture reviews.</p>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="mb-3 mb-3">
                    <img src="./Images/Automation_img_7.webp" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="mb-2 fs-4">Compliance Services</h4>
                    <p>Achieve industry compliance with standards like PCI-DSS, ISO 27001, HIPAA, GDPR, and more through
                        expert guidance and implementation.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="marquee-scroll mb-5" style="overflow-x: hidden">
    <div class="marquee">
        <div class="marquee-content scroll">
            <h4>Web & Mobile Apps</h4>
            <h4>Enterprise Platforms</h4>
            <h4>Cloud Solutions</h4>
            <h4>System Integration</h4>
            <h4>Data Engineering</h4>
            <h4>AI & Analytics</h4>
            <h4>UI/UX Experience</h4>
            <h4>DevOps & Deployment</h4>
            <h4>Maintenance & Support</h4>
        </div>
        <div class="marquee-content scroll">
            <h4>Web & Mobile Apps</h4>
            <h4>Enterprise Platforms</h4>
            <h4>Cloud Solutions</h4>
            <h4>System Integration</h4>
            <h4>Data Engineering</h4>
            <h4>AI & Analytics</h4>
            <h4>UI/UX Experience</h4>
            <h4>DevOps & Deployment</h4>
            <h4>Maintenance & Support</h4>
        </div>
    </div>
</section>

<section class="py-5 approach mt-5">
    <div class="container-fluid pt-lg-5">
        <h2 class="mb-5">Our Automation Approach</h2>

        <div class="row mt-5 position-relative">
            <hr class="line" />

            <div class="col-lg-3">
                <div>
                    <p class="fw-bold">Step-1</p>
                    <div class="dot mb-3"></div>
                    <h5 class="color fw-bold mb-3">Analyze & Identify</h5>
                    <p class="text-muted">
                        We assess your processes to identify automation opportunities and bottlenecks.
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div>
                    <p class="fw-bold">Step-2</p>
                    <div class="dot mb-3"></div>
                    <h5 class="color fw-bold mb-3">Design & Strategy</h5>
                    <p class="text-muted">
                        We design optimized workflows and automation architecture aligned with your goals.
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div>
                    <p class="fw-bold">Step-3</p>
                    <div class="dot mb-3"></div>
                    <h5 class="color fw-bold mb-3">Implement & Integrate</h5>
                    <p class="text-muted">
                        We deploy automation solutions and integrate them with your existing systems.
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div>
                    <p class="fw-bold">Step-4</p>
                    <div class="dot mb-3"></div>
                    <h5 class="color fw-bold mb-3">Monitor & Optimize</h5>
                    <p class="text-muted">
                        We continuously track performance and improve automation efficiency over time.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5 solution">
    <div class="container-fluid">
        <h2 class="mb-4">Where Automation Creates Impact</h2>

        <div class="row dot align-items-center">
            <div class="col-lg-6 d-flex flex-column align-content-between h-100">
                <div class="d-flex gap-2 border p-3 align-items-center mb-4">
                    <div><img src="./Images/cricle_dot.webp" alt="" srcset=""></div>
                    <h4 class="fs-5 fw-normal">Operations & Workflow Automation</h4>
                </div>
                <div class="d-flex gap-2 border p-3 align-items-center mb-4">
                    <div><img src="./Images/cricle_dot.webp" alt="" srcset=""></div>
                    <h4 class="fs-5 fw-normal">Customer Service Automation</h4>
                </div>
                <div class="d-flex gap-2 border p-3 align-items-center mb-4">
                    <div><img src="./Images/cricle_dot.webp" alt="" srcset=""></div>
                    <h4 class="fs-5 fw-normal">HR & Employee Management Automation</h4>
                </div>
                <div class="d-flex gap-2 border p-3 align-items-center mb-4">
                    <div><img src="./Images/cricle_dot.webp" alt="" srcset=""></div>
                    <h4 class="fs-5 fw-normal">Finance & Accounting Automation</h4>
                </div>
                <div class="d-flex gap-2 border p-3 align-items-center mb-4">
                    <div><img src="./Images/cricle_dot.webp" alt="" srcset=""></div>
                    <h4 class="fs-5 fw-normal">Supply Chain Automation</h4>
                </div>
                <div class="d-flex gap-2 border p-3 align-items-center mb-4">
                    <div><img src="./Images/cricle_dot.webp" alt="" srcset=""></div>
                    <h4 class="fs-5 fw-normal">Data Processing & Reporting</h4>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="position-relative">
                    <div class="h-100"><img src="./Images/built_industry.webp" alt="" srcset="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="card-img-overlay z-1 p-4">
                        <p class="text-white fs-5">Automation helps businesses reduce manual effort, minimize errors, and improve speed across critical functions.</p>

                        <div class="d-flex gap-3 flex-wrap mt-5">
                            <app-btn-primary label="Book a Meeting"></app-btn-primary>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="ads_app my-5">
    <div class="container-fluid">
        <div class="position-relative h-100">
            <div class="h-100"><img src="./Images/built-performance-ads.webp" alt="" srcset="" class="img-fluid h-100">
            </div>
            <div class="card-img-overlay z-1 p-5">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <h4 class="mb-3 text-white fs-2 fw-bold">Built for Performance. <br> Proven Across Industries.
                        </h4>
                        <p class="text-white col-lg-6">Our applications handle complex workflows and high data loads
                            with speed, reliability, and scalability.</p>
                    </div>


                    <div class="col-lg-4">
                        <p class="text-white">We’ve delivered multiple unique products for Middle East utility
                            companies, improving efficiency, visibility, and system integration.</p>

                        <div class="d-flex gap-3 flex-wrap mt-5">
                            <app-btn-primary label="Consult Our Experts"></app-btn-primary>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>


<section class="global_company py-5 my-lg-5">
    <div class="container-fluid">
        <div class="mb-4">
            <!-- <p class="color mb-2">Trusted By Hundreds of </p> -->
            <h2>Global Companies</h2>
        </div>
        <!-- Marquee Section -->
        <div class="marquee-container-fluid py-3">
            <div id="marquee" class="marquee-content">
                <!-- Logo 1 -->
                <div class="logo-item">
                    <img src="Images/company_logo/1.png" alt="company-logo" srcset="">
                </div>
                <!-- Logo 2 -->
                <div class="logo-item">
                    <img src="Images/company_logo/2.png" alt="company-logo" srcset="">
                </div>
                <!-- Logo 3 -->
                <div class="logo-item">
                    <img src="Images/company_logo/3.png" alt="company-logo" srcset="">
                </div>
                <!-- Logo 4 -->
                <div class="logo-item">
                    <img src="Images/company_logo/4.png" alt="company-logo" srcset="">
                </div>
                <!-- Logo 5 -->
                <div class="logo-item">
                    <img src="Images/company_logo/5.png" alt="company-logo" srcset="">
                </div>
                <div class="logo-item">
                    <img src="Images/company_logo/6.png" alt="company-logo" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>